ElementsOfProgrammingInterviews/Debug/
ipch/
ElementsOfProgrammingInterviews.VC.db
Algorithms.VC.db
Algorithms/Debug/Algorithms.tlog/CL.command.1.tlog
Algorithms/Debug/
Algorithms.VC.VC.opendb
Algorithms/x64/Debug/Algorithms.tlog/CL.read.1.tlog
Algorithms/x64/Debug/
Algorithms.VC.opendb
Algorithms.sdf
.vs/Algorithms/Algorithms.scgdat
.vs/Algorithms/v15/Browse.VC.db
